.contact-form {
  width: 100%;
  margin: auto;
}

.form-field {
  width: 100%;
  margin-bottom: 2rem;
}

.form-field > mat-label {
  font-size: 0.2rem;
}

.button {
  font-size: 0.6rem;
  margin-right: 1rem;
  padding: 1.1rem;
}

.contact-footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 430px) {
  .contact-form,
  .form-field {
    width: 22rem;
  }

  .button {
    font-size: 0.9rem;
  }
}
