<form action="">
  <div class="form-group">
    <label for="name">Your name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="What's your name?"
    />
  </div>
  <br />
  <div class="form-group">
    <label for="email">Your email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      placeholder="What's your email?"
    />
  </div>
  <br />
  <div class="form-group">
    <label for="message">Your message</label>
    <textarea
      name="message"
      id="message"
      class="form-control"
      placeholder="What's your message?"
    ></textarea>
  </div>
  <br />
  <button class="btn btn-primary">Send</button>
  <button class="btn btn-warning">Get my resume!</button>
</form>
