<div class="my-navbar">
  <ul class="brand">
    <li><a routerLink="">Hoang Long Le</a></li>
  </ul>
  <ul class="item-link">
    <li>
      <a routerLink="/skills" routerLinkActive="active-link">Skills</a>
    </li>
    <li>
      <a routerLink="/experience" routerLinkActive="active-link">Experience</a>
    </li>
    <li>
      <a routerLink="/work" routerLinkActive="active-link">Work</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </li>
  </ul>
</div>
