.navbar{
    font-size: 19px;
}

.active-link {
     color:#3F51B5;
}

.collapse{
    padding-left: 150px;
    padding-right: 150px;
    font-weight: bold;
}

.active{
    color: orange;
    font-weight: bold;
}