<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="collapse navbar-collapse">
    <!-- <a href="" class="navbar-brand"
      ><img src="/assets/img/brand.png" alt="" class="brand"
    /></a> -->
    <ul class="navbar-nav mr-auto">
      <!-- Align left -->

      <li class="nav-item">
        <a routerLink="" class="nav-link" [class.active]="isActive"
          >Hoang Long Le</a
        >
      </li>

      <li class="nav-item">
        <a routerLink="/experience" class="nav-link">Experience</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/projects" name="project" >Projects</a>
      </li>

      <li class="nav-item">
        <a routerLink="/contact" class="nav-link">Contact</a>
      </li>

      <!-- Align right -->
    </ul>
  </div>
</nav>
