.navbar{
    font-size: 18px;
}

.brand {
    height: 50px;
    width: 50px;
}

.collapse{
    padding-left: 150px;
    padding-right: 150px;
    font-weight: bold;
}

.active{
    color: orange;
    font-weight: bold;
}