.my-navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.4rem;
  background-color: white;
  font-weight: bold;
  padding-left: 1rem;
  padding: 0.2rem;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  vertical-align: middle;
}

.brand {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

li {
  margin: 0.5rem 7rem 0.5rem 5rem;
}

.active-link {
  color: #3f51b5;
}

a {
  text-decoration: none;
  color: black;
}

/* Collapsible */

.collapsible-content {
  margin-top: 1rem;
  padding-left: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.collapsible-content li {
  margin-left: 0;
}

.collapsible-expand .collapsible-content {
  opacity: 1;
  max-height: 100vh;
  overflow: visible;
}

/* toggler icon */
.icon {
  width: 40px;
  height: 40px;
  margin-right: 1.5rem;
  cursor: pointer;
}

.nav-toggler {
  opacity: 0.5;
}

.nav-list {
  width: 100%;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 800px) {
  .icon {
    display: none;
  }

  .nav-list {
    opacity: 1;
    max-height: 100%;
    width: auto;
    display: flex;
  }

  .nav-list li {
    margin-right: 2rem;
  }
}
