<div class="social border border-dark p-3 mt-4 mb-4">
  <div class="d-flex justify-content-between">
    <div class="mb-3">
      <a href="https://www.linkedin.com/in/hoanglongle/" target="_blank">
        <span class="fa fa-linkedin-square"></span>
      </a>
      <a
        class="contact-link"
        href="https://www.linkedin.com/in/hoanglongle/"
        target="_blank"
        >LinkedIn
      </a>
    </div>

    <div class="mb-3">
      <a href="https://github.com/longlee10" target="_blank">
        <span class="fa fa-github"></span
      ></a>
      <span>
        <a
          class="contact-link"
          href="https://github.com/longlee10"
          target="_blank"
          >Github</a
        ></span
      >
    </div>
  </div>

  <div>
    <a href="mailto: longquan98@gmail.com"
      ><span class="fa fa-envelope"></span
    ></a>
    <a class="contact-link" href="mailto: longquan98@gmail.com"
      >longquan98@gmail.com</a
    >
  </div>
</div>
