.greeting,
.name {
  font-size: 3rem;
  line-height: 3rem;
}

.intro {
  font-size: 1.8rem;
  line-height: 2rem;
}

.greet {
  margin-top: 5rem;
}

button {
  margin-top: 15px;
}

.download {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 500px) {
  .greeting,
  .name {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  .intro {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }
}
