.card-body{
    text-align: center;
}

img{
    height: 65px;
    width: 65px;
    margin: auto;
    /* margin-top: 50px; */
}

.card{
    background: black;
    /* height: 200px; */
}

h1{
    font-size: 70px;
    /* color: rgb(255 128 0 ); */
}

.btn{
    background-color: rgb(255 128 0 );
    color: white;
}

a :hover{cursor: pointer;}

.fa{
    font-size: 30px; 
    color: black ;
    display: inline-block;
    margin-right: 20px;
}

/* .fa-linkedin-square{
   
} */