<div class="container">
  <div class="greet">
    <h1>Hi!</h1>
    <h1>I'm Hoang Long Le.</h1>
    <div class="multi-text">
      <span class="static">I am a</span>
      <div class="dynamic-container">
        <li><span class="dynamic"> Computer Programmer</span></li>
        <li><span class="dynamic">Web Developer</span></li>
        <li><span class="dynamic">Software Engineer</span></li>
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary">
    <a href="assets/downloadable/Resume - Hoang Long Le.pdf" download
      >Download my Resume!</a
    >
  </button>
</div>
