<div class="container">
  <h1>My Professional Experience.</h1>
  <div class="timeline">
    <div class="timeline-row">
      <div class="timeline-time">Jan 2022 - Dec 2024</div>
      <div class="timeline-content">
        <h2>Software Engineering Technology Student</h2>
        <p>Centennial College</p>
        <li>Web Application Development</li>
        <li>Data Structures & Algorithms</li>
        <li>Java Programming</li>
        <li>Database Concepts</li>
      </div>
    </div>

    <div class="timeline-row">
      <div class="timeline-time">Jan 2023 - April 2023</div>
      <div class="timeline-content">
        <h2>Media Developer</h2>
        <p>Pearson Canada</p>
        <li>
          Developing and debugging Pearson online EPUB textbooks with HTML5,
          CSS3 and JavaScript.
        </li>
        <li>
          Creating test cases and involving in manual testing activities on
          Pearson online websites and platforms.
        </li>
        <li>
          Applying WCAG 2.0 in front-end development to meet accessibility
          standards.
        </li>
        <li>
          Working independently or collaboratively with senior web developer and
          fellow co-op students.
        </li>
      </div>
    </div>

    <div class="timeline-row">
      <div class="timeline-time">May 2023</div>
      <div class="timeline-content">
        <h2>Blue Salt Media Hackathon</h2>
        <p>Blue Salt Digital Media</p>
        <li>
          Designing UI for mobile and web applications for restaurants to manage
          their ads using Figma.
        </li>
        <li>
          Focusing on the design of simple applications suitable for
          non-technical users.
        </li>
      </div>
    </div>
  </div>
</div>
