<div class="container">
  <h1>My Projects.</h1>
  <p>
    {{ intro }}
  </p>
  <div class="row">
    <div *ngFor="let c of card" class="col">
      <div class="card">
        <img class="card-img-top" [src]="c.imgSrc" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">
            <a [href]="c.href">{{ c.name }} </a>
          </h5>
          <p class="card-text">{{ c.description }}</p>
          <div class="row">
            <div *ngFor="let t of c.tech" class="col">
              <p class="hashtag">#{{ t }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
