.card-body {
  text-align: center;
}

img {
  min-height: 65px;
  width: 65px;
  margin: auto;
  margin-top: 15px;
  object-fit: contain;
}

.card {
  background: transparent;
  border: none;
}

.card-text {
  font-weight: bold;
}

.skill-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.container {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .skill-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .skill-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .skill-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
