.card-body {
  text-align: center;
}

img {
  min-height: 65px;
  width: 65px;
  margin: auto;
  margin-top: 15px;
  object-fit: contain;
}

.card {
  background: transparent;
  border: none;
}

.card-text {
  font-weight: bold;
}
