/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.container {
  padding-top: 50px;
}

body {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  /* background-image: url("/assets/img/background5.jpg");
  background-size: cover;
  background-attachment: fixed; */
}

body::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("/assets/img/background5.jpg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.2;
}

.container h1 {
  font-weight: bold;
}
