<div class="container">
  <h1 class="heading mt-2rem">My Professional Experience.</h1>
  <div class="d-flex justify-content-between mt-5 experience">
    <div
      class="mb-5 border border-dark p-3 border-rounded w-experience font-size text-center"
    >
      <h1>Education</h1>
      <img src="/assets/img/education.png" class="img-size mb-3" />
      <div class="mb-4">
        <p><strong>Software Engineering Technology - 3rd year</strong></p>
        <p>Centennial College</p>
      </div>
      <div>
        <p><strong>Law - Business Management</strong></p>
        <p>Ho Chi Minh City University of Law</p>
      </div>
    </div>

    <div
      class="mb-5 border border-dark p-3 border-rounded w-experience font-size text-center"
    >
      <h1>Work Experience</h1>
      <img src="/assets/img/work.png" class="img-size mb-3" />
      <div>
        <p><strong>Pearson Canada</strong></p>
        <p>Media Developer Co-op Student</p>
      </div>
    </div>

    <div
      class="mb-5 border border-dark p-3 border-rounded w-experience font-size text-center"
    >
      <h1>Certifications</h1>
      <img src="/assets/img/certificate.png" class="img-size-high mb-3" />
      <div class="mb-4">
        <p><strong>Mastering NextJS 13</strong></p>
        <p>Code with Mosh</p>
      </div>
      <div class="mb-4">
        <p><strong>Mastering React 18</strong></p>
        <p>Code with Mosh</p>
      </div>
      <div class="mb-4">
        <p><strong>The Ultimate GIT course</strong></p>
        <p>Code with Mosh</p>
      </div>
      <div class="mb-4">
        <p><strong>Data Structure & Algorithms</strong></p>
        <p>Code with Mosh</p>
      </div>
    </div>
  </div>
  <p class="font-size">
    I am currently pursuing an advanced diploma in
    <strong>Software Engineering Technology</strong> at
    <strong>Centenial College</strong>. In addition, I have 8 months of working
    experience as a <strong>Media Web Developer Co-op Student</strong> at
    <strong>Pearson Canada</strong>
    - with tasks including developing and testing websites.
  </p>
  <p class="font-size">
    My skill set includes building full-stack web / software applications using
    various frameworks and libraries, working with source code version control,
    databases, building API, deploying, hosting, testing websites, improving
    user experience and web accessibility.
  </p>
</div>
