<div class="container">
  <h1 class="heading">My Professional Experience.</h1>
  <div class="timeline">
    <div
      *ngFor="let e of experience"
      class="timeline-container"
      [class.right-container]="!e['alignLeft']"
    >
      <div class="circle"></div>
      <div class="text-box">
        <h2>{{ e["place"] }}</h2>
        <p>{{ e["name"] }}</p>
        <small>{{ e["time"] }}</small>
        <span *ngIf="viewportWidth < 800" class="arrow-right"></span>
        <span
          *ngIf="viewportWidth >= 800"
          [class.arrow-left]="e['alignLeft']"
          [class.arrow-right]="!e['alignLeft']"
        ></span>
      </div>
    </div>
  </div>
</div>
